<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Music Mining</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png')}}">

<!--
Strategy Template
http://www.templatemo.com/tm-489-strategy
-->
    <!-- load stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome-4.5.0/css/font-awesome.min.css') }}">        
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">                                
    <link rel="stylesheet" href="{{ url_for('static', filename='css/hero-slider-style.css') }}">                       
    <link rel="stylesheet" href="{{ url_for('static', filename='css/templatemo-style.css') }}">  
    <link rel="stylesheet" href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <style>
    input {
        padding: 12px 20px;
        margin: 10px ;
        width: 30px;
    } 
 </style>

</head>

<body>

<!-- 
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Project</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="index" >Home</a></li>
              <li><a href="model">Model</a></li>
              <li><a href="artistlist">ArtistList</a></li>
            </ul>
        </div>
    </nav> -->


        <section class="cd-hero">
            <ul class="cd-hero-slider autoplay">  
            <!-- 
            	<ul class="cd-hero-slider autoplay"> for slider auto play 
                <ul class="cd-hero-slider"> for disabled auto play
            -->
                <li class="selected">
                    <div class="cd-full-width">
                        <div class="tm-slide-content-div">
                                <h2 class="text-uppercase">Music Mining</h2>
                                <p class="m-b-mid">Find music genre by lyrics</p>
<!--                                     <span id='disp1' style="color:white;">Song name: {{example['song']}}   </span><br>
                                    <span id='disp2' style="color:white;">Artist name:  {{example['artist']}} </span> -->
                                <form action="result" id="search-form" method='get'>
                                <div class="form-group" style=''>
                                    <input name="song" type="text" class="form-control " value = "{{example['song']}}" id="input1" placeholder="{{example['song']}}">
                                    <input name="artist" type="text" class="form-control " value = "{{example['artist']}}" id="input2" placeholder="{{example['artist']}}">
                                </div> 
                                <span style="display: inline;">
                                    <button class="cd-btn" id="random">Random</button> 
                                    <button class="cd-btn" id="search">Search</button>
                                </span>
                                </form>                                 
                            </div>                            
                        </div>                        
                    </div> <!-- .cd-full-width -->
                </li>   



<!--                  <li class="selected">
                    <div class="cd-full-width">
                        <div class="tm-slide-content-div">
                                <h2 class="text-uppercase">Music Mining</h2>
                                <p class="m-b-mid">Find music genre by lyrics</p>
                                <div class="form-group" style=''>
                                    <input name="song" type="text" class="form-control " id="input1" value = "{{example['song']}}" placeholder="{{example['song']}}">
                                    <input name="artist" type="text" class="form-control " id="input2" value ="{{example['artist']}}" placeholder="{{example['artist']}}">
                                </div> 
                                <span style="display: inline;">
                                     <button class="cd-btn" id="search2">Search</button>
                                </span>                                 
                            </div>                            
                        </div>                        
                    </div> 
                </li>   
 -->

                <li class="selected">
                    <div class="cd-full-width">
                        <div class="tm-slide-content-div">
                                <h2 class="text-uppercase">Music Mining</h2>
                                <p class="m-b-mid">Find music genre by lyrics, click to see our model.</p>

                                 <div id = 'displayartilist' style='margin-right:auto; margin-left: auto;' >



                                 </div>   

                                <span style="display: inline;">
                                     <button class="cd-btn" id="artist">Model</button>
                                </span>                                 
                            </div>                            
                        </div>                        
                    </div> <!-- .cd-full-width -->
                </li>   

                
            </ul> <!-- .cd-hero-slider -->

            <div class="cd-slider-nav">
                <nav>
                    <span class="cd-marker item-1"></span>
                    <ul>
                        <li class="selected"><a href="#0"></a> </li>
                        <li> <a href="#0"></a></li>
                    </ul>
                    
                </nav> 
            </div> <!-- .cd-slider-nav -->

        </section> <!-- .cd-hero -->

        <div class="container-fluid tm-section tm-section-2">

            <div class="jumbotron" id = 'lyric'>
                {{example['text']}}
            </div>

        <!-- </div> -->
        <!-- <div class="container-fluid tm-section tm-section-2"> -->
            <div class="row tm-media-row">

                <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5">
                 <!--    <img src="{{url_for('static', filename='img/tm-img-320x320-1.jpg')}}" alt="Image" class="img-fluid img-circle img-thumbnail tm-media-img"> -->
                <iframe src="https://open.spotify.com/embed?uri=spotify:album:0n9SWDBEftKwq09B01Pwzw" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

                </div>

               
                <div class="col-xs-12 col-sm-6 col-md-5 col-lg-5">

                <iframe src="https://open.spotify.com/embed?uri=spotify:album:0jTGHV5xqHPvEcwL8f6YU5" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

 <!--                    <div class="tm-media-text-container">
                        <h3 class="tm-media-title tm-gray-text">Interdum et malesuada fames</h3>
                        <p class="tm-media-description tm-gray-text-2">Aliquam dapibus felis fringilla ligula mittis, ut congue purus gravida. Suspendisse suscipit tellus id odio mollis, id tincidunt metus gravida. Ut at arcu in elit maximus eleifend.</p>    
                    </div>   -->                  
                </div>

            </div>
            
        </div>


        <section class="center-block tm-section tm-section-4">
            <div class="container-fluid tm-section-3-inner">
                <div class="row center-block text-xs-center tm-section-3-header">


                    <div class="col-xs-12">
                        <!--<h2 class="tm-section-3-title">Classification</h2>-->
                        <p style="text-align:center;"><img src="{{url_for('static', filename='img/log_tag.png')}}"></p>
                        <p class="tm-section-3-description">Try to search songs you like here, it will give you the result classified by cnn.</p>      
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12">
                        <div id="tmCarousel" class="carousel slide tm-carousel" data-ride="carousel"> 
                        <!-- 
                        	Remove data-interval="false" to auto play
                        	Add data-interval="false" to disable auto play
                         -->

                            <ol class="carousel-indicators">
                                <li data-target="#tmCarousel" data-slide-to="0" class="active"></li>
                                <li data-target="#tmCarousel" data-slide-to="1" class=""></li>
                                <li data-target="#tmCarousel" data-slide-to="2" class=""></li>
                            </ol>

                            <div class="carousel-inner" role="listbox">
                            
                                <div class="carousel-item active">
                                    <div class="carousel-content">
                                        <div>         
                                            <p style="text-align:center;"><img src="{{url_for('static', filename='img/music1.jpg')}}" alt="Image" class="img-fluid img-circle img-thumbnail tm-media-img"></p>
                                            <p class="text-xs-center tm-carousel-item-text">"Fashion of His Love" is a song by Lady Gaga on the first disc of the special edition of her third album, Born This Way. The song title was revealed by Gaga when she released the tracklisting of the special edition of the album. The song was registered on her BMI on May 17, 2011, and premiered on GagaVille on May 19.</p>
                                        </div>
                                    </div>                               
                                </div>

                                <div class="carousel-item">
                                    <div class="carousel-content">
                                        <div>
                                            <p style="text-align:center;"><img src="{{ url_for('static', filename='img/music2.jpg')}}" alt="Image" class="img-fluid img-circle img-thumbnail tm-media-img"></p>
                                            <p class="text-xs-center tm-carousel-item-text">"Why Wait" is a song written by Neil Thrasher, Tom Shapiro, and Jimmy Yeary and recorded by American country music band Rascal Flatts. It was released in August 2010 as the first single from their seventh studio album Nothing Like This, released on November 16, 2010. It is also their first single released by Big Machine Records.</p>
                                        </div>
                                    </div>                                
                                </div>

                                <div class="carousel-item">
                                    <div class="carousel-content">
                                        <div>
                                            <p style="text-align:center;"><img src="{{ url_for('static', filename='img/music3.jpg')}}" alt="Image" class="img-fluid img-circle img-thumbnail tm-media-img"></p>
                                            <p class="text-xs-center tm-carousel-item-text">Michael Whitaker Smith (born October 7, 1957) is an American musician, who has charted in both contemporary Christian and mainstream charts. His biggest success in mainstream music was in 1991 when "Place in this World" hit No. 6 on the Billboard Hot 100. Over the course of his career, he has sold more than 18 million albums.</p>
                                        </div>
                                    </div>                                
                                </div>

                            </div>
                            
                        </div> 
                    </div>
                </div>
            </div>            
        </section>

        <!-- Contact section -->
        <section class="tm-bg-purple tm-section">
            <div class="container-fluid tm-section-5-inner">


                <div class="row">
                    <footer class="col-xs-12 text-xs-center">
                        <p class="tm-text-white tm-copyright-text">Copyright &copy; 2018 Texas A&M University CS670 course

                        | Designed by <a rel="nofollow" href="http://www.google.com/+templatemo" target="_parent"> CS course</a></p>
                    </footer>
                </div>
            </div>
        </section>

        <!-- load JS files -->
        <script src="{{url_for('static', filename='js/jquery-1.11.3.min.js')}}"></script>             <!-- jQuery (https://jquery.com/download/) -->
        <script src="https://www.atlasestateagents.co.uk/javascript/tether.min.js"></script> <!-- Tether for Bootstrap (http://stackoverflow.com/questions/34567939/how-to-fix-the-error-error-bootstrap-tooltips-require-tether-http-github-h) --> 
        <script src="{{url_for('static', filename='js/bootstrap.min.js')}}"></script>                 <!-- Bootstrap js (v4-alpha.getbootstrap.com/) -->
        <script src="{{url_for('static', filename='js/hero-slider-script.js')}}"></script>            <!-- Hero slider (https://codyhouse.co/gem/hero-slider/) -->
        <script src="{{url_for('static', filename='js/jquery.touchSwipe.min.js')}}"></script>         <!-- http://labs.rampinteractive.co.uk/touchSwipe/demos/ -->
        <script>     
       
            $(document).ready(function(){

                /* Auto play bootstrap carousel 
                * http://stackoverflow.com/questions/13525258/twitter-bootstrap-carousel-autoplay-on-load
                -----------------------------------------------------------------------------------------*/                
                $('.carousel').carousel({
                  interval: 3000
                })

                /* Enable swiping carousel for tablets and mobile
                 * http://lazcreative.com/blog/adding-swipe-support-to-bootstrap-carousel-3-0/
                 ---------------------------------------------------------------------------------*/
                if($(window).width() <= 991) {
                    $(".carousel-inner").swipe( {
                        //Generic swipe handler for all directions
                        swipeLeft:function(event, direction, distance, duration, fingerCount) {
                            $(this).parent().carousel('next'); 
                        },
                        swipeRight: function() {
                            $(this).parent().carousel('prev'); 
                        },
                        //Default is 75px, set to 0 for demo so any distance triggers swipe
                        threshold:0
                    });
                }  

                /* Handle window resize */
                $(window).resize(function(){
                    if($(window).width() <= 991) {
                        $(".carousel-inner").swipe( {
                            //Generic swipe handler for all directions
                            swipeLeft:function(event, direction, distance, duration, fingerCount) {
                                $(this).parent().carousel('next'); 
                            },
                            swipeRight: function() {
                                $(this).parent().carousel('prev'); 
                            },
                            //Default is 75px, set to 0 for demo so any distance triggers swipe
                            threshold:0
                        });
                     }
                });   

                $('#random').on("click", function(e) {
                        e.preventDefault();
                        document.getElementById("input1").value=''
                        document.getElementById("input2").value=''
                        var queryString = '/random'
                        console.log(queryString)
                        $.get(queryString, {}, function(result){


                            // $("#input1").on("focus", function() {
                            //         $("#input1").val("");
                            //     });
                            // $("#input2").on("focus", function() {
                            //         $("#input2").val("");
                            // });

                            console.log(result)
                            result = JSON.parse(result)
                            // $('#input1:input').removeAttr('value');
                            // $('#input2:input').removeAttr('value');
                            $('#input1:input').attr('placeholder', result['song'])
                            $('#input2:input').attr('placeholder', result['artist'])
                            document.getElementById("input1").value=result['song']
                            document.getElementById("input2").value=result['artist']

                            $("#lyric").html(result['text']);
                            //$('#input1:input').attr('value', result['song']);
                            //$('#input2:input').attr('value', result['artist']);
                            // $('#disp1').html('Song name: ' + result['song']) 
                            // $('#disp2').html('Artist name: ' + result['artist']) 
                        });

                });

                $('#artist').click(function() {

                         // var queryString = '/model'
                        location.href= '/model'
                          //$.get(queryString, {}, function(result){

                          //      console.log(result);

                            //var content = "<div style='height:300px; color:white; overflow:auto;'>" + result + "</div>"

                          //  $('#displayartilist').html(content);

                          //});

                });


    
    var content= "<div class='row tm-media-row'> <div class='col-xs-2 col-sm-2 col-md-2 col-lg-2'>"
    var content2= "<div class='col-xs-8 col-sm-8 col-md-8 col-lg-8'>"
    var closed = "</div>"
    var runclassificaiton = "<div class='row tm-media-row'> <div class='col-xs-4 col-sm-6 col-md-4 col-lg-4'><button class='btn btn-success' id='runclassificaiton'>Classificaiton</button></div><div class='col-xs-4 col-sm-4 col-md-4 col-lg-4' id ='classificationRes' style='color:red'>Pop</div></div>";
    var buttonClass = $('#runclassificaiton');
    console.log(buttonClass)
                $('#search').click(function() {

                    var queryString = "result?"  + $('#input1:input').val() + "&" + $('#input2:input').val();
                    window.location.href = queryString;
                    
                    console.log(queryString);

                    $.get(queryString, {}, function(result){

                        if (result && result.length!=0) {

                            // var content = "<div class='container' style='color:red'>";

                            result = JSON.parse(result)

                            for (var i = 0; i < result.length; i++) {
                                row1 = content + "<p>Song Name</p>" + closed + content2 + result[i]['song'] + closed + closed 
                                row2 = content + "<p>Artist Name</p>" + closed + content2 + result[i]['artist'] + closed + closed 
                                row3 = content + "<p>Lyric</p>" + closed + content2 + result[i]['text'] + closed + closed 
                                row4 = content + "<p>Category</p>" + closed + content2 + result[i]['cat'] + closed + closed
                            }

                            $('#lyric').html(

                                row1 + row2 + row3 +row4 + runclassificaiton
                            );
                            buttonClass = $('#runclassificaiton');
                            console.log(buttonClass)
                        }

                    });

                });           
        
        buttonClass.click(function() {

            console.log('clicked')
        //                                     // $('#classificationRes').html('You have to call the backend CNN model')

        });


        });
        </script>             

</body>
</html>
